In [3]:
import pandas as pd
data = pd.read_csv('titanic.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
print(data['Sex'].value_counts())

male      577
female    314
Name: Sex, dtype: int64

In [6]:
survived = data["Survived"].value_counts() / data["Survived"].size
print(survived[1].round(2))

0.38

In [7]:
pclass = data["Pclass"].value_counts() / data['Pclass'].size
print(pclass[1].round(2))
import

0.24

In [502]:
mean = data.describe()['Age']['mean']
median = data.describe()['Age']['50%']
print(mean.round(2), median)

29.7 28.0

In [508]:
print('Pearson')
data.corr()['Parch']['SibSp'].round(2)

Pearson

0.41

In [507]:
arr = pd.array(data["Name"], dtype=str)
dfm = pd.DataFrame(columns=["Name"])
dff = pd.DataFrame(columns=["Name"])

for n in arr:
    if "Mrs." in n or "Miss." in n or "Lady." in n or "Ms." in n:
        if '(' in n:
            fname = n.split('(')[1].split(' ')[0]
            name = fname
            if '"' in fname:
                name =  n.split(" ")[2]
            elif ')' in fname:
                name = fname.split(')')[0]
        else:
            name = n.split(".")[1].split(" ")[1]
        dff.loc[dff.size] = [name]
    else:
        name = n.split(".")[1].split(" ")[1]
        dfm.loc[dfm.size] = [name]
        
print(dff["Name"].value_counts())

Anna          15
Mary          14
Elizabeth     11
Margaret      10
Alice          6
              ..
Ebba           1
Marguerite     1
Manca          1
Joan           1
Sylvia         1
Name: Name, Length: 175, dtype: int64